/**
 * This is a direct port of the orginal dreditor css, with some modification for the documentation block
 * and I also remove the form block.
 */
body {
  padding-top:93px !important;
}
body #contentwrapper, 
#contentwrapper th, 
#contentwrapper td {
  font-family:Tahoma,Verdana !important;
  font-size:11px !important;
}
#contentwrapper #header {
  height:74px !important;
}
#contentwrapper #main {
  padding:0 !important;
}
.content-right, #contentwrapper #threecol {
  float:none !important;
  width:auto !important;
}
#sidebar-right {
  position:relative;
}
#sidebar-left-both, #sidebar-left {
  padding-top:2.6em;
  width:20% !important;
}
.content-both {
  width:80% !important;
}
#contentwrapper #sidebar-right .block {
  margin:0 !important;
}
#contentwrapper #sidebar-right .block .content, 
#contentwrapper #sidebar-right .block .content .w1, 
#contentwrapper #sidebar-right .block .content .w2 {
  background:none repeat scroll 0 0 transparent !important;
  border:0 none !important;
  padding:0 !important;
  position:static !important;
}
#sidebar-right .block h2 {
background-color:transparent !important;
color:#000000 !important;
font-size:12px !important;
text-align:left !important;
}
#sidebar-right .block h2 .w1 {
background:none repeat scroll 0 0 transparent !important;
}
#sidebar-right .block h2 .w2 {
background:none repeat scroll 0 0 transparent !important;
padding:4px !important;
}
#header #search, #og-search-form {
background:none repeat scroll 0 0 transparent !important;
height:auto !important;
position:fixed !important;
right:60px !important;
top:0 !important;
z-index:40 !important;
}
#og-search-form {
right:220px !important;
}
#header #search .form-submit, #og-search-form .form-submit {
display:none !important;
}
#header #search input.form-text, #og-search-form input.form-text {
background-color:#1A1A1A !important;
border-color:#555555 !important;
border-width:1px !important;
font-size:11px !important;
color: grey;
}
.sidebar .block-book h2 a {
color:#FFFFFF !important;
}
#block-user-1, 
#block-bingo-0, 
#block-menu-menu-developer-links,
#block-menu-menu-documentation-t,
div.breadcrumb, 
#block-og-0 {
background:url("http://drupal.org/sites/all/modules/admin_menu/images/bkg.png") repeat-x scroll left bottom #101010 !important;
left:0 !important;
margin:0 !important;
padding:0 1% !important;
position:fixed !important;
width:98% !important;
}
#block-user-1, #block-og-0 {
top:0 !important;
z-index:30 !important;
}
#block-bingo-0 {
top:21px !important;
z-index:20 !important;
}
#block-menu-menu-developer-links {
top:42px !important;
z-index:10 !important;
}
#block-menu-menu-documentation-t{
  top:63px !important;
  z-index:10 !important;
}
div.breadcrumb {
font-size:11px !important;
padding:4px 12px !important;
top:83px !important;
z-index:10 !important;
}
#sidebar-right ul.menu, #sidebar-right div.item-list ul {
margin:0 !important;
overflow:hidden !important;
padding:0 !important;
}
#sidebar-right #block-bingo-0 h2, #sidebar-right #block-menu-menu-developer-links h2 {
background:none repeat scroll 0 0 transparent !important;
color:#666666 !important;
display:inline !important;
float:left !important;
font-size:11px !important;
text-align:left !important;
}

#sidebar-right #block-bingo-0 h2, #sidebar-right #block-menu-menu-documentation-t h2 {
background:none repeat scroll 0 0 transparent !important;
color:#666666 !important;
display:inline !important;
float:left !important;
font-size:11px !important;
text-align:left !important;
}
#block-user-1 h2, #block-og-0 h2 {
display:none !important;
}
#block-user-1 ul > li:last-child, #block-og-0 ul > li:last-child {
float:right !important;
margin:0 !important;
padding-right:0 !important;
}
#admin-menu, #admin-menu ul {
line-height:1.4em !important;
list-style:none outside none !important;
margin:0 !important;
padding:0 !important;
z-index:999 !important;
}
#sidebar-right ul.menu, #sidebar-right div.item-list ul {
position:static !important;
}
#sidebar-right ul.menu a, #sidebar-right div.item-list ul a, #sidebar-right div.item-list ul strong, div.breadcrumb a, div.breadcrumb a:visited {
border-bottom:medium none !important;
color:#CCCCCC !important;
cursor:pointer !important;
display:block !important;
font-weight:normal !important;
padding:4px !important;
text-align:left !important;
text-decoration:none !important;
}
#sidebar-right ul a:hover, #sidebar-right div.item-list a:hover, div.breadcrumb a:hover {
color:#FFFFFF !important;
text-decoration:none !important;
}
#sidebar-right ul a.active, #sidebar-right div.item-list a.active {
color:#FFFFFF !important;
}
div.breadcrumb a, div.breadcrumb a:visited {
display:inline !important;
}
#sidebar-right ul.menu li, #sidebar-right div.item-list ul li {
background-image:none !important;
float:left !important;
height:100% !important;
list-style-image:none !important;
list-style-type:none !important;
margin:0 !important;
padding:0 !important;
}
#sidebar-right ul.menu li li, #sidebar-right div.item-list li li {
background:none repeat scroll 0 0 #202020 !important;
opacity:0.88 !important;
width:160px !important;
}
#sidebar-right ul.menu li ul, #sidebar-right div.item-list li ul {
background:none repeat scroll 0 0 transparent !important;
display:none !important;
left:-999em !important;
line-height:1.2em !important;
margin:0 !important;
position:absolute !important;
width:160px !important;
}
#admin-menu li li.expandable ul {
margin:-20px 0 0 160px !important;
}
#sidebar-right ul.menu li:hover ul ul, #sidebar-right div.item-list li:hover ul ul, #sidebar-right ul.menu li:hover ul ul ul, #sidebar-right div.item-list li:hover ul ul ul, #sidebar-right ul.menu li:hover ul ul ul ul, #sidebar-right div.item-list li:hover ul ul ul ul, #sidebar-right ul.menu li:hover ul ul ul ul ul, #sidebar-right div.item-list li:hover ul ul ul ul ul {
display:none;
left:-999em !important;
}
#sidebar-right ul.menu li:hover ul, #sidebar-right div.item-list li:hover ul, #sidebar-right ul.menu li li:hover ul, #sidebar-right div.item-list li li:hover ul, #sidebar-right ul.menu li li li:hover ul, #sidebar-right div.item-list li li li:hover ul, #sidebar-right ul.menu li li li li:hover ul, #sidebar-right div.item-list li li li li:hover ul, #sidebar-right ul.menu li li li li li:hover ul, #sidebar-right div.item-list li li li li li:hover ul {
display:block !important;
left:auto !important;
}
#admin-menu li li:hover {
background-color:#111111 !important;
}
#admin-menu li li:hover a, #admin-menu li li:hover li:hover a, #admin-menu li li:hover li:hover li:hover a {
color:#FFFFFF !important;
}
#admin-menu li li.expandable:hover a, #admin-menu li li.expandable:hover li.expandable:hover a {
border-color:#666666 !important;
color:#EEEEEE !important;
}
#admin-menu li li.expandable:hover li a, #admin-menu li li.expandable:hover li.expandable:hover li a {
border-color:#323232 !important;
}
#admin-menu li li:hover li a {
color:#EEEEEE !important;
}
html.js fieldset.collapsible div.fieldset-wrapper {
overflow:visible !important;
}
table.project-issue {
width:100%;
}
.views-field-sid, .views-field-category, .views-field-version, .views-field-last-comment-timestamp {
white-space:nowrap !important;
}
td.views-field-comment-count a {
display:none;
}
.views-exposed-form .views-exposed-widget .form-submit {
margin-top:1.1em !important;
}
.project-issue > table {
width:100% !important;
}
#content .node .info-list, #content .node .info-page, .comment .author {
font-size:100% !important;
}
#content .node {
clear:both;
}
#block-block-17 .w2 p {
overflow:hidden;
}
#block-block-17 .w2 p a {
float:left;
margin-right:1em;
}
#block-block-17 .w2 p br {
display:none;
}
.project-issue tr.state-1 {
background-color:#FFFFFF !important;
}
.project-issue tr.state-1 td.active {
background-color:#FAFAFA !important;
}
.project-issue tr.state-13 {
background-color:#FFFFEE !important;
}
.project-issue tr.state-13 td.active {
background-color:#FAFAE9 !important;
}
.project-issue tr.state-8 {
background-color:#FFFFEE !important;
}
.project-issue tr.state-8 td.active {
background-color:#FAFAE9 !important;
}
.project-issue tr.state-14 {
background-color:#EAFFF0 !important;
}
.project-issue tr.state-14 td.active {
background-color:#E0FAEA !important;
}
.project-issue tr.state-15 {
background-color:#FFFFFF !important;
}
.project-issue tr.state-15 td.active {
background-color:#FAFAFA !important;
}
.project-issue tr.state-2 {
background-color:#EEEEEE !important;
}
.project-issue tr.state-2 td.active {
background-color:#E9E9E9 !important;
}
.project-issue tr.state-4 {
background-color:#EEEEEE !important;
}
.project-issue tr.state-4 td.active {
background-color:#E9E9E9 !important;
}
.project-issue tr.state-16 {
background-color:#F0F0F0 !important;
}
.project-issue tr.state-16 td.active {
background-color:#EAEAEA !important;
}
table.project-issue tbody tr a {
color:#225599 !important;
font-weight:normal !important;
}
.project-issue tbody tr .marker {
color:#FF3333 !important;
}
.project-issue tr.odd td[colspan] {
background-color:#FFFFFF;
border-bottom:0 none !important;
}

#block-forum-1{
  display: none;
}